<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<!-- Настройка для HTTP-обработчика -->
			<add name="HandlerHTTP" path="*.TRA" verb="*" type="Lab1.HandlerHTTP, Lab1" resourceType="Unspecified" />
		</handlers>
	</system.webServer>
</configuration>
